.navbar{
    position: fixed;
    top : 0;
    z-index: 1 ;
    background-color: rgb(2, 28, 85);
    width: 100%;
    margin: auto;
    padding: 15px;
    color: #e2dede;
}
#linkStack{
    gap : 30px;
}
#normal{
    margin-right: 20px;
}
#hamburger{
    display: none;
    margin-right: 20px;
    background-color: rgb(2, 28, 85);
}
#item{
    color: #e0e0e0;
}

@media only screen and (max-width: 1000px) {
    #normal{
        display: none;
    }
    #hamburger{
        display: initial;
    }
}

